<%-  include("header"); -%>


<div class="box" id="heading">
    <h1> <%=  ToDoList %> </h1>
</div>


<div class="box">

    <form action="/delete" method="POST">

        <% newListItems.forEach(function (item){ %>

        <div class="item">
            <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
            <p><%= item.name %></p>
        </div>

    </form>

    <% }); %>

    <form class="item" action="/" method="POST">
        <input type="text" placeholder="New Item" name='toDo'>

        <button type="submit" name="button" value=<%= ToDoList %>>
            +
        </button>
    </form>
</div>

<%-  include("footer"); -%>