<%-  include("header"); -%>


<div class="box" id="heading">
    <h1> <%=  ToDoList %> </h1>
</div>


<div class="box">
    <% for (var i = 0; i < newListItems.length; i++) { %>
    <div class="item">
        <input type="checkbox">
        <p><%= newListItems[i] %> </p>
    </div>
    <% } %>

    <form class="item" action="/" method="POST">
        <input type="text" placeholder="New Item" name='toDo'>

        <button type="submit" name="button" value=<%= ToDoList %>>
            +
        </button>
    </form>
</div>

<%-  include("footer"); -%>